<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/tagSearch.css'/>
    <!--<link rel="shortcut icon" href="/images/favicon.ico">-->
    <!--<link rel="bookmark" href="/images/favicon.ico">-->
</head>
<body>
<% include header.ejs %>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Tag search</h1>
            <p class="lead text-muted">Choose tags.</p>
            <p id="btn-tagSearch">
                <!--动画，风景，影视，人物，植物，宠物，美食，运动，游戏-->
                <!--动画，风景，人物，宠物-->
                <a href="/tagSearch/tcomic/graphs" class="btn btn-primary" id="btn-comic" value="comic">comic</a>
                <a href="/tagSearch/tlandscape/graphs" class="btn btn-primary" id="btn-landscape" value="landscape">landscape</a>
                <a href="/tagSearch/tfigure/graphs" class="btn btn-primary" id="btn-figure" value="figure">figure</a>
                <a href="/tagSearch/tpet/graphs" class="btn btn-primary" id="btn-pet" value="pet">pet</a>
            </p>
        </div>
    </section>

    <div class="album text-muted" id="div-comic">
        <div class="container">
            <div class="row">

                <% graphTagList.forEach(function(graph){ %>
                <div class="card">
                    <img src="<%= graph.url %>" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text"><%= graph.time %><a href="/j<%= graph.username %>/myGraphs#"
                                                             style="float: right;font-size: 15px"><%= graph.username %></a></p>
                    <span><a href="#" class="btn btn-primary"><%= graph.tag %></a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <% }) %>

                <!--
                <div class="card">
                    <img src="/images/graphs/31.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/32.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/33.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>

                <div class="card">
                    <img src="/images/graphs/34.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/35.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/36.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>

                <div class="card">
                    <img src="/images/graphs/37.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/38.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/39.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>

                    <span>
                        <a href="#" class="btn btn-primary">comic</a>

                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                -->
            </div>
        </div>
    </div>

<!--
    <div class="album text-muted" id="div-landscape">
        <div class="container">
            <div class="row">

                <div class="card">
                    <img src="/images/graphs/l1.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">landscape</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/l2.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">landscape</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/l3.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">landscape</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>

            </div>
        </div>
    </div>

    <div class="album text-muted" id="div-figure">
        <div class="container">
            <div class="row">

                <div class="card">
                    <img src="/images/graphs/f1.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">figure</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/f2.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">figure</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/f3.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">figure</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>

            </div>
        </div>
    </div>

    <div class="album text-muted" id="div-pet">
        <div class="container">
            <div class="row">

                <div class="card">
                    <img src="/images/graphs/p1.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">pet</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/p2.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">pet</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>
                <div class="card">
                    <img src="/images/graphs/p3.jpg" alt="Card image cap" width="350px" height="220px">
                    <p class="card-text">2017/11/11</p>
                    <span>
                        <a href="#" class="btn btn-primary">pet</a>
                        <button class="btn-like"><img src="/images/heart.png" name="unselected" alt="like" width="30px"></button></span>
                </div>

            </div>
        </div>
    </div>
-->
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top<img src="/images/go_up.png" width="30px"></a>
        </p>
    </div>
</footer>

<!--<script>-->
    <!--$("#btn-tagSearch a").click(function () {-->
        <!--var tag = $("#btn-tagSearch a").attr("value");-->
        <!--$.ajax({-->
            <!--type: "post",-->
            <!--url: "/tagSearch/t" + tag + "/graphs",-->
            <!--data: {-->
                <!--tag: tag-->
            <!--},-->
            <!--success: function (data) {-->

            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->

<script type="text/javascript">
    $(function () {
        $(".card .btn-like img").click(function () {
            var ifLike = 0;//0未选择（未点亮），1喜欢（点亮）
            var name = $(this).attr("name");
            if (name == "unselected") {
                $(this).attr("name", "selected");
                ifLike = 1;
                $(this).attr("src", "/images/heart_full.png");
            } else {
                $(this).attr("name", "unselected");
                ifLike = 0;
                $(this).attr("src", "/images/heart.png");
            }
            // ifLike(ifLike);
        });


        $("#div-comic").show();
//        $("#div-landscape").hide();
//        $("#div-figure").hide();
//        $("#div-pet").hide();
        $("#btn-comic").click(function () {
            var tag = "comic";
            $.ajax({
                type: "get",
                url: "/tagSearch/t" + tag + "/graphs",
                data: {
                    tag: tag
                },
                success: function (data) {

                }
            });
            $("#btn-comic").attr("class", "btn btn-primary");
            $("#btn-landscape").attr("class", "btn btn-secondary");
            $("#btn-figure").attr("class", "btn btn-secondary");
            $("#btn-pet").attr("class", "btn btn-secondary");



//            $("#div-comic").show();
//            $("#div-landscape").hide();
//            $("#div-figure").hide();
//            $("#div-pet").hide();
        });
        $("#btn-landscape").click(function () {
            var tag = "landscape";
            $.ajax({
                type: "post",
                url: "/tagSearch/t" + tag + "/graphs",
                data: {
                    tag: tag
                },
                success: function (data) {

                }
            });
            $("#btn-comic").attr("class", "btn btn-secondary");
            $("#btn-landscape").attr("class", "btn btn-primary");
            $("#btn-figure").attr("class", "btn btn-secondary");
            $("#btn-pet").attr("class", "btn btn-secondary");



//            $("#div-comic").hide();
//            $("#div-landscape").show();
//            $("#div-figure").hide();
//            $("#div-pet").hide();
        });
        $("#btn-figure").click(function () {
            var tag = "figure";
            $.ajax({
                type: "post",
                url: "/tagSearch/t" + tag + "/graphs",
                data: {
                    tag: tag
                },
                success: function (data) {

                }
            });
            $("#btn-comic").attr("class", "btn btn-secondary");
            $("#btn-landscape").attr("class", "btn btn-secondary");
            $("#btn-figure").attr("class", "btn btn-primary");
            $("#btn-pet").attr("class", "btn btn-secondary");



//            $("#div-comic").hide();
//            $("#div-landscape").hide();
//            $("#div-figure").show();
//            $("#div-pet").hide();
        });
        $("#btn-pet").click(function () {
            var tag = "pet";
            $.ajax({
                type: "post",
                url: "/tagSearch/t" + tag + "/graphs",
                data: {
                    tag: tag
                },
                success: function (data) {

                }
            });
            $("#btn-comic").attr("class", "btn btn-secondary");
            $("#btn-landscape").attr("class", "btn btn-secondary");
            $("#btn-figure").attr("class", "btn btn-secondary");
            $("#btn-pet").attr("class", "btn btn-primary");



//            $("#div-comic").hide();
//            $("#div-landscape").hide();
//            $("#div-figure").hide();
//            $("#div-pet").show();
        });


    });
</script>


</body>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</html>